// This is an override provided by UX to set the star icon styles
// Because this is not implemented in PF Card component
.odh-favorite-button {
  padding: 0;
  &__star-icon {
    fill: var(
      --pf-t--global--icon--color--subtle
    ); // May not need this or hover color styling, the button should cover any hover styling
    &:hover {
      fill: var(
        --pf-t--global--icon--color--regular
      ); // Need insight from PF design if this should be removed (see Resources page in UI)
    }
    &--is-selected {
      fill: var(--pf-t--global--icon--color--favorite--clicked);
      &:hover {
        fill: var(--pf-t--global--icon--color--favorite--hover);
      }
    }
  }
}
