.odh-installed-apps {
  &__heading {
    &__text {
      margin-bottom: 1rem;
    }
  }

  &__error {
    &__error-body {
      text-align: left;
      white-space: pre;
    }
  }

  &__gallery {
    .odh-app-card {
      .header-brand {
        height: 50px;
      }

      .footer {
        text-align: center;
      }
    }

    .odh-app-card.not-installed {
      color: gray;
    }
  }
}